/***************************TAG SELECTORS**********************/

body{
    text-align: center;
    background-color:#393E46;
}

h1{
margin: 30px;
font-family: 'Lobster', cursive;
text-shadow: 5px 0 #232931;
font-size: 8rem;
color: #4ECCA3;
}
p{
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
    color:#4ECCA3;

}

footer{
    margin-top: 5%;
    text-align: center;
    font-size: 1rem;
    color: white;
    font-family: 'Indie Flower', cursive;

}

img{
    margin-right: 35px;
}

footer{
    margin-bottom: 0%;
}
/***************************CLASS SELECTORS**********************/
.container{
    width: 70%;
    margin: auto;
}

.dice{
    display: inline-block;
}

.myButton {
	box-shadow: 0px 6px 9px #ffffff;
	background:linear-gradient(to bottom, #4ECCA3 5%, black 100%);
	background-color: #4ECCA3;
	border-radius:17px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color: #4ECCA3;
	font-family:'Indie Flower', cursive;;
	font-size:2rem;
    font-weight: 900;
	padding:12px 34px;
	margin: 5% auto;
}

        
/***************************ID SELECTORS**********************/



/***************************PSEUDOCLASS SELECTORS**********************/

.myButton:hover {
	background:linear-gradient(to top, #dfdfdf 1%, #ededed 100%);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}


/***************************MEDIAQUERIES SELECTORS**********************/



/***************************COMBINED SELECTORS**********************/
